    .data-form {
      background-color: #EEEEEE;
      padding: 2%;
      border-radius: 5px;
      }

    .page-counter {
      position: absolute;
      left: 50%;
      right: 50%;
      margin-left: auto;
      margin-right: auto;
      }

    .header-icon {
        font-size: 25px;
        color: #3F51B5;
        margin-top: 0.7%;
        padding: 0 15px;
      }

    .header-element {
            text-transform: uppercase;
            font-size: 25px;
            color: #424242;
            margin-top: 1%;
          }

    .header-search {
            margin-top: 0.5%;
            padding: 0 10px;
     }

     .clickable-element {
        cursor: pointer;
     }

     .incorrect-data-informer{
             display: none;
             margin-top: 1%;
             color: white;
             margin-bottom: 2%;
             font-size: 25pt;
     }

     a:link {
        text-decoration: none
     }

     .table-column-header{
        color: black;
        text-decoration: none;
     }

     .pagination-button {
             padding-left: 3%;
             margin-right: 3%;
      }
