<!DOCTYPE html>
<html xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <title>cinematheque</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css"
          integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous"/>

    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.7/angular.min.js"></script>
    <script src="https://code.jquery.com/jquery-2.2.1.min.js"
            integrity="sha256-gvQgAFzTH6trSrAWoH1iPo9Xc96QxSZ3feW6kem+O00=" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-filestyle/1.2.1/bootstrap-filestyle.min.js"
            crossorigin="anonymous"></script>


    <script th:src="@{/js/movies.js}"></script>

    <link rel="stylesheet" th:href="@{/css/stars.css}"/>
    <link rel="stylesheet" th:href="@{/css/common.css}"/>
</head>
<body>

<nav class="navbar navbar-default">
    <div class="container-fluid">
        <div class="navbar-header">
            <a class="navbar-brand" href="/">CINEMATHEQUE</a>
        </div>
        <ul class="nav navbar-nav">
            <li><a href="/movie">MOVIES</a></li>
            <li><a href="/star">STARS</a></li>
        </ul>

        <div th:if="${user != null}" class="user-info col-sm-offset-1 col-sm-4 text-center">
            <a href="/profile">
                <div class="header-element" th:text="${user.realName}"></div>
            </a>
        </div>

    </div>
</nav>


<div class="jumbotron text-center">
    <h1>Page not Found!</h1>
    <p>The link you followed probably broken, or the page has been removed</p>
    <p><a class="btn btn-primary btn-lg" href="/" role="button">RETURN TO CINEMATHEQUE</a></p>
</div>

</body>
</html>