<!DOCTYPE html>
<html xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <title>cinematheque</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css"
          integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous"/>

    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.7/angular.min.js"></script>
    <script src="https://code.jquery.com/jquery-2.2.1.min.js"
            integrity="sha256-gvQgAFzTH6trSrAWoH1iPo9Xc96QxSZ3feW6kem+O00=" crossorigin="anonymous"></script>

    <link rel="stylesheet" th:href="@{/css/common.css}"/>

    <script th:src="@{/js/stars.js}"></script>
</head>

<body>

<nav class="navbar navbar-default">
    <div class="container-fluid">
        <div class="navbar-header">
            <a class="navbar-brand" href="/">CINEMATHEQUE</a>
        </div>
        <ul class="nav navbar-nav">
            <li class="active"><a href="/movie">MOVIES</a></li>
            <li><a href="/star">STARS</a></li>
        </ul>

        <div th:if="${user != null}" class="user-info col-sm-offset-1 col-sm-4 text-center">
            <a href="/out">
                <div class="header-element" th:text="${user.realName}"></div>
            </a>
        </div>

    </div>
</nav>

<div class="form-horizontal col-sm-10 col-sm-offset-1 data-form">
    <fieldset>

        <legend>Attach star to: <span th:text="${movie.title}"></span></legend>

        <div class="form-group">
            <div class="col-sm-12">
                <select th:field="*{stars}" name="name" id="starList" class="form-control">
                    <option th:each="star : ${stars}"
                            th:value="${star.id}"
                            th:text="@{__${star.firstName}__ __@{${star.middleName != null} ? ${star.middleName}}__ __${star.lastName}__}">
                        Wireframe
                    </option>
                </select>
            </div>
        </div>
    </fieldset>


    <button type="saveStar" class="btn btn-info col-sm-12" th:onclick="'attachStar('+ ${movie.id} +')'">Attach star
    </button>
</div>

</body>
</html>