<!DOCTYPE html>
<html xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <title>cinematheque</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css"
          integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous"/>

    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.7/angular.min.js"></script>
    <script src="https://code.jquery.com/jquery-2.2.1.min.js"
            integrity="sha256-gvQgAFzTH6trSrAWoH1iPo9Xc96QxSZ3feW6kem+O00=" crossorigin="anonymous"></script>

    <link rel="stylesheet" th:href="@{/css/stars.css}"/>
    <link rel="stylesheet" th:href="@{/css/common.css}"/>

    <script th:src="@{/js/stars.js}"></script>
</head>

<body>
<nav class="navbar navbar-default">
    <div class="container-fluid">
        <div class="navbar-header">
            <a class="navbar-brand" href="/">CINEMATHEQUE</a>
        </div>
        <ul class="nav navbar-nav">
            <li class="active"><a href="/movie">MOVIES</a></li>
            <li><a href="/star">STARS</a></li>
        </ul>

        <div th:if="${user != null}" class="user-info col-sm-offset-1 col-sm-4 text-center">
            <a href="/out">
                <div class="header-element" th:text="${user.realName}"></div>
            </a>
        </div>

    </div>
</nav>

<div class="form-horizontal col-sm-10 col-sm-offset-1 data-form">
    <fieldset>
        <legend>Edit star: <span
                th:text="${star.firstName} + ' ' + @{${star.middleName != null} ? ${star.middleName}} + ' ' + ${star.lastName}"></span>
        </legend>
        <div class="form-group">
            <input type="text" class="form-control" id="firstName" placeholder="First Name"
                   th:value="${star.firstName}"/>
        </div>

        <div class="form-group">
            <input type="text" class="form-control" id="middleName" placeholder="Middle Name (optional)"
                   th:value="@{${star.middleName != null} ? ${star.middleName}}"/>
        </div>

        <div class="form-group">
            <input type="text" class="form-control" id="lastName" placeholder="Last Name" th:value="${star.lastName}"/>
        </div>
    </fieldset>

    <button type="updateStar" class="btn btn-info col-sm-12" th:onclick="@{'updateStar(' + ${star.id} + ')'}">Update
        star
    </button>
</div>


</body>
</html>