<!DOCTYPE html>
<html xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <title>cinematheque</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css"
          integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous"/>

    <link rel="stylesheet" th:href="@{/css/movies.css}"/>
    <link rel="stylesheet" th:href="@{/css/stars.css}"/>
    <link rel="stylesheet" th:href="@{/css/common.css}"/>

    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.7/angular.min.js"></script>
    <script src="https://code.jquery.com/jquery-2.2.1.min.js"
            integrity="sha256-gvQgAFzTH6trSrAWoH1iPo9Xc96QxSZ3feW6kem+O00=" crossorigin="anonymous"></script>
    <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>


    <script th:src="@{/js/movies.js}"></script>

</head>

<body>

<script>


</script>

<div class="container">
    <div class="modal fade" id="image-modal" role="dialog">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                </div>
                <div class="modal-body text-center">
                    <img src="" id="movie-image-big" align="center" style="max-height:70%;max-width:70%;"/>
                </div>
            </div>
        </div>
    </div>
</div>

<nav class="navbar navbar-default">
    <div class="container-fluid">
        <div class="navbar-header">
            <a class="navbar-brand" href="/">CINEMATHEQUE</a>
        </div>
        <ul class="nav navbar-nav">
            <li class="active"><a href="/movie">MOVIES</a></li>
            <li><a href="/star">STARS</a></li>
        </ul>

        <div th:if="${user == null}" class="user-info col-sm-offset-1 col-sm-4 text-center">
            <a href="/login">
                <div class="header-element"><img th:src="@{/images/login-facebook-small.png}"/></div>
            </a>
        </div>

        <div th:if="${user != null}" class="user-info col-sm-offset-1 col-sm-4 text-center">
            <a href="/out">
                <div class="header-element" th:text="${user.realName}"></div>
            </a>
        </div>

    </div>
</nav>

<div class="page-header text-center">
    <h2>
        <p th:text="${movie.title} + ' (' + ${movie.year} + ')' ">Movie (2000)</p>

        <div th:if="${movie.image != null}" align="center">
            <img data-toggle="modal" data-target="#image-modal" th:src="@{/images/loading.gif}"
                 class="thumbnail clickable-element" id="movie-image"
                 th:onload="@{'loadImage(' + ${movie.id} +', ' + ${i} + ')'}"
                 style="max-height:450px;max-width:450px;"/>
        </div>

        <div th:if="${movie.rank != null}">
            <span th:each="i : ${#numbers.sequence(1, movie.rank.rank)}">
              <span class="glyphicon glyphicon-star"
                    th:id="${i}"
                    th:onclick="@{'rankMovie(' + ${movie.id} +', ' + ${i} + ')'}">
              </span>
            </span>

            <span th:if="${movie.rank.rank != 5}">
                <span th:each="i : ${#numbers.sequence(movie.rank.rank + 1, 5)}">
                    <span class="glyphicon glyphicon-star-empty" th:id="${i}"
                          th:onclick="@{'rankMovie(' + ${movie.id} +', ' + ${i} + ')'}"></span>
                </span>
            </span>
        </div>

        <div th:if="${movie.rank == null}">
        <span th:each="i : ${#numbers.sequence(1, 5)}">
            <span class="glyphicon glyphicon-star-empty"
                  th:id="${i}"
                  th:onclick="@{'rankMovie(' + ${movie.id} +', ' + ${i} + ')'}"></span>
        </span>
        </div>

    </h2>

    <h1>
        <span th:if="${user != null}"
              th:class="${isMovieInWishList} ? 'glyphicon glyphicon-heart' : 'glyphicon glyphicon-heart-empty'"
              th:onclick="${isMovieInWishList} ? @{'removeFromWishList(' + ${movie.id} + ')'} : @{'addToWishList(' + ${movie.id} + ')'}"></span>
        <span th:if="${user != null}"
              th:class="${isMovieInBookmarkList} ? 'glyphicon glyphicon-shopping-cart' : 'glyphicon glyphicon-usd'"
              th:onclick="${isMovieInBookmarkList} ? @{'removeFromBookmarkList(' + ${movie.id} + ')'} : @{'addToBookmarkList(' + ${movie.id} + ')'}"></span>
    </h1>

</div>


<div class="movie-description-block" th:if="${movie.description != null}" th:text="${movie.description}">
    finds a mysterious, obviously artificial object buried beneath the Lunar surface and, with the intelligent computer
    H.A.L. 9000, sets off on a quest.
</div>


<div class="star-list-header">
    <span class="col-sm-11">
        Star list:
    </span>
    <a th:if="${user != null}" th:href="@{__${movie.id}__/attachStarForm}"><span
            class="glyphicon glyphicon-plus pull-right" aria-hidden="true"
            style="margin-right: 3%;"></span></a>
</div>

<div class="panel">
    <ul class="nav nav-tabs">
    </ul>
    <table class="table table-striped table-hover">
        <thead class="thead-default">
        <tr>
            <th class="text-center"></th>
            <th class="text-center">Name</th>
            <span th:if="${user != null and #lists.contains(userRoles, &quot;ROLE_ADMIN&quot;)}"><th
                    class="text-center"></th></span>
        </tr>
        </thead>
        <tbody>
        <tr th:each="star, i : ${movie.stars}">
            <td class="col-sm-1 text-center" th:text="${i.count}">1</td>
            <td th:text="${star.firstName} + ' ' + @{${star.middleName != null} ? ${star.middleName}} + ' ' + ${star.lastName}"></td>
            <td class="col-sm-1 text-center">
                <a th:if="${user != null and #lists.contains(userRoles, &quot;ROLE_ADMIN&quot;)}"
                   th:href="@{/star/__${star.id}__/editStar/}"><span
                        class="glyphicon glyphicon-pencil clickable-element" aria-hidden="true"
                        style="padding-right: 15px; padding-left: 15px;"></span></a>
                <div th:if="${user != null and #lists.contains(userRoles, &quot;ROLE_ADMIN&quot;)}"
                     class="glyphicon glyphicon-trash clickable-element"
                     th:onclick="@{'removeStar(' + ${movie.id} + ', ' + ${star.id} + ')'}"
                     style="padding-right: 15px; padding-left: 15px;"></div>
            </td>
        </tr>
        </tbody>
    </table>
</div>


</body>
</html>