<!DOCTYPE html>
<html xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <title>cinematheque</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css"
          integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous"/>

    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.7/angular.min.js"></script>
    <script src="https://code.jquery.com/jquery-2.2.1.min.js"
            integrity="sha256-gvQgAFzTH6trSrAWoH1iPo9Xc96QxSZ3feW6kem+O00=" crossorigin="anonymous"></script>

    <link rel="stylesheet" th:href="@{/css/common.css}"/>

    <script th:src="@{/js/movies.js}"></script>

</head>
<body>

<nav class="navbar navbar-default">
    <div class="container-fluid">
        <div class="navbar-header">
            <a class="navbar-brand" href="/">CINEMATHEQUE</a>
        </div>
        <ul class="nav navbar-nav">
            <li class="active"><a href="/movie">MOVIES</a></li>
            <li><a href="/star">STARS</a></li>
        </ul>

        <div th:if="${user != null}" class="user-info col-sm-offset-1 col-sm-4 text-center">
            <a href="/out">
                <div class="header-element" th:text="${user.realName}"></div>
            </a>
        </div>

        <div th:if="${user == null}" class="user-info col-sm-offset-1 col-sm-4 text-center">
            <a href="/login">
                <div class="header-element"><img th:src="@{/images/login-facebook-small.png}"/></div>
            </a>
        </div>

        <a th:if="${user != null}" href="/movie/addOMDBMovieForm">
            <div class="header-icon pull-right glyphicon glyphicon-dbookmarkload-alt"></div>
        </a>

        <a th:if="${user != null}" href="/movie/addMovieForm">
            <div class="header-icon pull-right glyphicon glyphicon-plus"></div>
        </a>

        <div class="col-sm-3 pull-right header-search">
            <div class="input-group">
                <input type="text" id="search-form" class="form-control" placeholder="Search"/>
                <span class="input-group-btn">
                <button id="search-button" class="btn btn-default" onclick="searchMovie()" type="button"><span
                        class="glyphicon glyphicon-search" aria-hidden="true"></span></button></span>
            </div>
        </div>
    </div>
</nav>

<div class="panel">
    <ul class="nav nav-tabs">
        <li role="presentation" th:class="@{${active=='all'}? active}"><a href="/movie/all">ALL MOVIES</a></li>
        <li th:if="${user != null}" role="presentation" th:class="@{${active=='bookmarklist'}? active}"><a
                href="/movie/bookmarklist">BOOKMARKS</a></li>
        <li th:if="${user != null}" role="presentation" th:class="@{${active=='wishlist'}? active}"><a
                href="/movie/wishlist">WISH LIST</a></li>
        <li th:if="${user != null}" role="presentation" class="pull-right"
            th:classappend="@{${active=='recommend'}? active}"><a href="/movie/recommend">YOUR RECOMMENDATIONS</a></li>
        <li role="presentation" class="pull-right" th:classappend="@{${active=='top'}? active}"><a href="/movie/top">TOP
            MOVIES</a></li>
        <li role="presentation" class="pull-right" th:classappend="@{${active=='recent'}? active}"><a
                href="/movie/recent">RECENTLY MOVIES</a></li>
    </ul>
    <table class="table table-striped table-hover">
        <thead class="thead-default">
        <tr>
            <th class="text-center"></th>
            <th class="text-center"><a th:href="@{'/movie/' + ${active} + '?orderby=title'}"><span
                    class="table-column-header">Title</span></a></th>
            <th class="text-center"><a th:href="@{'/movie/' + ${active} + '?orderby=year'}"><span
                    class="table-column-header">Year</span></a></th>
            <th class="text-center"><a th:href="@{'/movie/' + ${active} + '?orderby=rank'}"><span
                    class="table-column-header">Rank</span></a></th>
            <span th:if="${user != null and #lists.contains(userRoles, &quot;ROLE_ADMIN&quot;)}"><th></th></span>
        </tr>
        </thead>
        <tbody>
        <tr th:each="movie, i: ${movies}">
            <td class="col-sm-1 text-center" th:if="${currentPage != null}"
                th:text="${i.count + pageSize * (currentPage - 1)}">ID
            </td>
            <td class="col-sm-1 text-center" th:if="${currentPage == null}" th:text="${i.count}">ID</td>
            <td><a th:href="@{/movie/__${movie.id}__}" th:text="${movie.title}">Title</a></td>
            <td class="col-sm-1 text-center" th:text="${movie.year}">Year</td>
            <td class="col-sm-1 text-center" th:text="${movie.rank != null} ? ${movie.rank.rank}">Rank</td>
            <td th:if="${user != null and #lists.contains(userRoles, &quot;ROLE_ADMIN&quot;)}"
                class="col-sm-1 text-center">
                <a th:href="@{/movie/__${movie.id}__/editMovie}"><span class="glyphicon glyphicon-pencil"
                                                                       aria-hidden="true"
                                                                       style="padding-right: 15px; padding-left: 15px;"></span></a>
                <span class="glyphicon glyphicon-trash clickable-element" aria-hidden="true"
                      th:onclick="@{'deleteMovie(' + ${movie.id} + ')'}"
                      style="padding-right: 15px; padding-left: 15px;"></span>
            </td>
        </tr>
        </tbody>
    </table>

    <div th:if="${#lists.isEmpty(movies) and isSearched!=null and active!='recommend'}">
        <div class="jumbotron text-center">
            <h1>Nothing found!</h1>
            <h2>Try to find something else</h2>
            <br/>
            <p th:if="${user != null}"><a class="btn btn-primary btn-lg" href="/movie/addMovieForm" role="button">OR YOU
                CAN ADD MISSED
                MOVIE</a></p>
        </div>
    </div>

    <div th:if="${#lists.isEmpty(movies) and isSearched==null and active!='recommend'}">
        <div class="jumbotron text-center">
            <h1>Nothing Added!</h1>
            <h2>Try to add any movie to list</h2>
            <br/>
            <p th:if="${user != null}"><a class="btn btn-primary btn-lg" href="/movie/addMovieForm" role="button">ADD
                NEW MOVIE</a></p>
        </div>
    </div>

    <div th:if="${#lists.isEmpty(movies) and active=='recommend'}">
        <div class="jumbotron text-center">
            <h1>Recommendations isn't ready!</h1>
            <h2>Sorry, but your recommendations list isn't built yet!<br/>Please, add your favorite movies in wish list
                and be patiently</h2>
            <br/>
            <p th:if="${user != null}"><a class="btn btn-primary btn-lg" href="/movie/wishlist" role="button">GO WISH
                LIST</a></p>
        </div>
    </div>

</div>

<div th:if="${currentPage != null}">
    <nav class="navbar navbar-default navbar-fixed-bottom">
        <ul class="pager pagination-button">
            <li class="previous" th:if="${currentPage &gt; 1}"><a
                    th:href="@{'/movie/' + ${active}(orderby=${orderBy},page=${currentPage - 1})}"><span
                    aria-hidden="true">&larr;</span>
                PREVIOUS PAGE</a></li>

            <div class="page-counter"><span th:if="${pageCount &gt; 1}" class="label label-primary"
                                            th:text="${currentPage} + ' / ' + ${pageCount}">1 / 5</span></div>

            <li class="next pagination-button" th:if="${currentPage &lt; pageCount}"><a
                    th:href="@{'/movie/' + ${active}(orderby=${orderBy},page=${currentPage + 1})}">NEXT PAGE <span
                    aria-hidden="true">&rarr;</span></a></li>
        </ul>
    </nav>
</div>

<script th:src="@{/js/movies-interactive.js}"></script>

</body>
</html>