<!DOCTYPE html>
<html xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <title>cinematheque</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css"
          integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous"/>

    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.7/angular.min.js"></script>
    <script src="https://code.jquery.com/jquery-2.2.1.min.js"
            integrity="sha256-gvQgAFzTH6trSrAWoH1iPo9Xc96QxSZ3feW6kem+O00=" crossorigin="anonymous"></script>

    <link rel="stylesheet" th:href="@{/css/common.css}"/>
    <script th:src="@{/js/stars.js}"></script>

</head>
<body>

<nav class="navbar navbar-default">
    <div class="container-fluid">
        <div class="navbar-header">
            <a class="navbar-brand" href="/">CINEMATHEQUE</a>
        </div>
        <ul class="nav navbar-nav">
            <li><a href="/movie">MOVIES</a></li>
            <li class="active"><a href="/star">STARS</a></li>
        </ul>

        <div th:if="${user != null}" class="user-info col-sm-offset-1 col-sm-4 text-center">
            <a href="/out">
                <div class="header-element" th:text="${user.realName}"></div>
            </a>
        </div>

        <div th:if="${user == null}" class="user-info col-sm-offset-1 col-sm-4 text-center">
            <a href="/login">
                <div class="header-element"><img th:src="@{/images/login-facebook-small.png}"/></div>
            </a>
        </div>

        <a th:if="${user != null}" href="/star/addStarForm">
            <div class="header-icon pull-right glyphicon glyphicon-plus"></div>
        </a>

        <div class="col-sm-3 pull-right header-search">
            <div class="input-group">
                <input type="text" id="search-form-star" class="form-control" placeholder="Search"/>
                <span class="input-group-btn">
                <button id="search-button" class="btn btn-default" onclick="searchStar()" type="button"><span
                        class="glyphicon glyphicon-search" aria-hidden="true"></span></button></span>
            </div>
        </div>

    </div>
</nav>

<div class="panel">
    <ul class="nav nav-tabs">
    </ul>
    <table class="table table-striped table-hover">
        <thead class="thead-default">
        <tr>
            <th class="text-center"></th>
            <th class="text-center">Name</th>
            <span th:if="${user != null and #lists.contains(userRoles, &quot;ROLE_ADMIN&quot;)}"><th
                    class="text-center"></th></span>
        </tr>
        </thead>
        <tbody>
        <tr th:each="star, i : ${stars}">
            <td class="col-sm-1 text-center" th:if="${currentPage != null}"
                th:text="${i.count + pageSize * (currentPage - 1)}">ID
            </td>
            <td class="col-sm-1 text-center" th:if="${currentPage == null}" th:text="${i.count}">ID</td>
            <td th:text="${star.firstName} + ' ' + @{${star.middleName != null} ? ${star.middleName}} + ' ' + ${star.lastName}"></td>
            <td class="col-sm-1 text-center">
                <a th:if="${user != null and #lists.contains(userRoles, &quot;ROLE_ADMIN&quot;)}"
                   th:href="@{/star/__${star.id}__/editStar/}"><span
                        class="glyphicon glyphicon-pencil clickable-element" aria-hidden="true"
                        style="padding-right: 15px; padding-left: 15px;"></span></a>
                <span th:if="${user != null and #lists.contains(userRoles, &quot;ROLE_ADMIN&quot;)}"
                      class="glyphicon glyphicon-trash clickable-element" aria-hidden="true"
                      th:onclick="@{'deleteStar(' + ${star.id} + ')'}"
                      style="padding-right: 15px; padding-left: 15px;"></span>
            </td>
        </tr>
        </tbody>
    </table>
</div>

<div th:if="${currentPage != null}">
    <nav class="navbar navbar-default navbar-fixed-bottom">
        <ul class="pager pagination-button">

            <li class="previous" th:if="${currentPage &gt; 1}"><a
                    th:href="@{'/star/' (page=${currentPage - 1})}"><span aria-hidden="true">&larr;</span>
                PREVIOUS PAGE</a></li>

            <div class="page-counter"><span th:if="${pageCount &gt; 1}" class="label label-primary"
                                            th:text="${currentPage} + ' / ' + ${pageCount}">1 / 5</span></div>

            <li class="next pagination-button" th:if="${currentPage &lt; pageCount}"><a
                    th:href="@{'/star/' (page=${currentPage + 1})}">NEXT PAGE <span
                    aria-hidden="true">&rarr;</span></a></li>
        </ul>
    </nav>
</div>

<script th:src="@{/js/stars-interactive.js}"></script>

</body>
</html>